body {
    margin: 0;
}

.header,
.main,
.footer {
    min-width: 320px;
    max-width: 768px;
}


@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('fonts/TTLakesCondensed-Bold.eot') format('embedded-opentype'),
        url('fonts/TTLakesCondensed-Bold.woff2') format('woff2'),
        url('fonts/TTLakesCondensed-Bold.woff') format('woff'),
        url('fonts/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "TT Lakes Condensed";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes Condensed"),
        url("fonts/TTLakes-Regular.woff") format("woff"),
        url("fonts/TTLakes-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff2') format('woff2'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.burger {
    background-image: url("img/header_img/burger.svg");
}

.call {
    background-image: url("img/header_img/call.svg");
}

.chat {
    background-image: url("img/header_img/chat.svg");
}

.profile {
    background-image: url("img/header_img/profile.svg");
}

.repair {
    background-image: url("img/header_img/repair.svg");
}

.checkstatus {
    background-image: url("img/header_img/checkstatus.svg");
}

.cancel {
    background-image: url("img/header_img/cancel.svg");
}

.search {
    background-image: url("img/header_img/search.svg");
}

.content__more::before {
    content: url("img/main_img/expand.svg");
    margin: 14px 0 0 10px;
}



.header {
    height: 88px;
    padding-bottom: 24px;
}

.header-page {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9FFF5;
    position: relative
}

.header-basic {
    display: flex;
    align-items: center;

}




.header-page::after {
    content: " ";
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    position: absolute;
    left: 59%;
    top: 30%;


}


.header-navigation,
.aside__header,
.aside__header-nav,
.aside-navigation__title {
    display: flex;
}


.bottom:not(:last-child) {
    margin-right: 0;
}



.item_dis-md,
.item_dis-lg,
.nav_dis-lg-flex,
.title_dis-md,
.content__main-text_dis-md,
.content__main-text_dis-lg
 {
    display: none;
}




.title {
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    width: 288px;
    height: 40px;
    font-size: 28px;
    padding-left: 12px;
    border-left: 4px solid #41F6D7;
    margin-bottom: 10px;

}

.scrollbar {
    display: flex;
    overflow-x: auto;
    padding-left: 16px;


}

.scrollbar::-webkit-scrollbar {
    width: 0;
    padding: 0;
}

.scrollbar__menu-link {
    white-space: nowrap;
    text-decoration: none;
    font-size: 17px;
    font-family: 'TT Lakes';
    font-weight: 500;
    color: #7E7E82;
    padding: 8px 15px;

}

.scrollbar__menu-link:focus {
    border: 2px solid #B8FFEC;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content__more {
    display: flex;
    font-size: 16px;
    font-family: 'TT Lakes';
    font-weight: 500;
}



.content-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.content_img {
    width: 100%;
    height: auto;
    max-width: 530px;

}

.content__main-text {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 490px;
    height: auto;
    font-family: 'TT Lakes Condensed';
    font-weight: normal;
    color: #1B1C21;
    font-size: 14px;
    margin-left: 16px;

}

.aside {
    width: 320px;
    height: 100%;    
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 0px 52px 0px #9598a5;
    display: none;
    background-color: #ffffff;
    overflow-y: scroll;
    
}
.aside::-webkit-scrollbar {
    display: none;
}

.burger:active ~ .aside{
    transform: translateX(100px);
    transition: 3s;
}

.aside__header-nav {
    flex-direction: column;
}

.aside__header {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom:30px ;
}

.aside__logo{
    padding: 16px 62px 0px 0px;
}

.aside__bottom-nav {}

.bottom{
    transition: transform 0.3s, opacity 0.3s;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 24px 16px;
}

.bottom:hover{
    opacity: 0.8;
    transform: scale(0.9);
}
.bottom:active{
    transform: scale(0.8);
    
}


.aside__navigation {
    display: flex;
    flex-direction: column;
    

}

.aside__menu-item {
   
    
}

.aside__menu-link {
    text-decoration: none;
    font-size: 16px;
    font-family: 'TT Lakes';
    font-weight: 500;
    color:#1B1C21;
    padding-left:24px ;
    line-height: 50px;
    margin: 0;
    transition:color 0.3s,border 0.3s;
    

}
input[type="radio"]:checked + .aside__menu-link {
    color: #7E7E82;
    border-left:5px solid #41F6D7;
    
}

input[type="radio"]:checked + .aside__lang-item{
    color: #7E7E82;
}

input[type="radio"]{
    display: none;
}



input[type="checkbox"]:checked ~ .aside{
    display: none;
}
.aside__info {

}

.aside__info-navigation {
    display: flex;
    padding-bottom:24px ;
}

.aside-navigation__title {
    margin-bottom: 0;
}



.aside__info-contacts {
    display: flex;
    flex-direction: column;
    
}

.aside__info-contacts-email {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    font-family: 'TT Lakes';
    font-weight: 500;
    padding: 0px 0px 12px 24px;
    transition:color 0.2s;

}
    
.aside__info-contacts-tel {
    padding:0px 0px 40px 24px ;
    text-decoration: none;
    color: #1B1C21;
    font-size: 24px;
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    color: #1B1C21;
    transition: color 0.2s;
}

.aside__lang-title {
    display: flex;
    padding-left: 24px;
}

.aside__lang-item {
    font-size: 16px;
    font-family: 'TT Lakes';
    font-weight: 500;
    padding-right:7px ;
    transition:0.3s;
}

.aside__lang-item:hover,
.aside__info-contacts-tel:hover,
.aside__info-contacts-email:hover,
.aside__menu-link:hover{
    
    color: #41F6D7;

}
.aside__lang-item:active,
.aside__info-contacts-tel:active,
.aside__info-contacts-email:active,
.aside__menu-link:active{
    color: #7E7E82;
}




@media (min-width:768px) {

    .header,
    .main,
    .footer {
        min-width: 768px;
        max-width: 1120px;
    }

    .header-page::after {
        content: " ";
        width: 0;
    }

    .header-basic__logo {
        margin-left: 15px;
    }

    .header-basic__logo::before {
        content: " ";
        background: #EAEAEA;
        width: 2px;
        height: 32px;
        position: absolute;
        top: 30px;
        left: 70px;
    }

    .content__main-text {
        margin-right: 40px;
        min-width: 312px;

    }

    .repair::before {
        content: " ";
        background: #EAEAEA;
        width: 2px;
        height: 32px;
        position: absolute;
        top: 28px;
        right: 130px;  
    }

    .aside__logo{
        padding: 16px 10% 0px 0px;
    }

    .repair {
        margin-left: 40px;

    }

    .dis-md,
    .title_dis-md {
        display: block;
    }

    .content__main-text_dis-md {
        display: block;

    }

    .content__main-text_dis-sm {
        display: none;
    }



    .content {
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }





}

@media (min-width:1120px) {


    .header,
    .main,
    .footer {
        min-width: 1120px;
        margin: 0 auto;
    }

    .header,
    .item_dis-md,
    .content__main-text_dis-md,
    .content__main-text_dis-sm {
        display: none;
    }

    .item_dis-lg {
        display: block;
    }


    .checkstatus {
        margin-right: 0;
    }

    .main-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .main-navigation,
    .nav-dis-lg-flex {
        display: flex;
    }


    .content {
        justify-content: start;
    }

    .content__main-text_dis-lg,
    .dis-lg {
        display: block;
    }





    .content {
        align-items: start;

    }

    .content__main-text {
        margin-right: 36px;
        margin-left: 24px;
    }


    .reviews {
        margin: 0px 0px 25px 40px;
        font-size: 19px;
        color: #7E7E82;
        font-family: 'TT Lakes Condensed';
    }



    .title {
        margin-bottom: 8px;
    }

    .header-basic__logo::before,
    .repair::before {
        content: " ";
        width: 0;
    }


    .main-navigation__title {
        text-decoration: none;
        font-family: 'TT Lakes';
        font-weight: 500;
        color: #1B1C21;
        background-image: none;
        padding-left: 50px;


    }

    .main-navigation__title.repair::after {
        content: url("img/header_img/repair.svg");
        position: relative;
        left: 10%;
        top: 25%;
    }

    .main-navigation__title.checkstatus::after {
        content: url("img/header_img/checkstatus.svg");
        position: relative;
        left: 10%;
        top: 25%;
    }

    .scrollbar {
        overflow: visible;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }

    .scrollbar__menu-link {
        font-size: 16px;
    }


}